@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Freckle+Face);
body{
	background: #994d00 !important;
   
}

h1{
	 font-family: 'Freckle Face', cursive !important;
  color:#ffe6cc !important;
  font-size:30pt !important;
}
.wiki{
	padding:60px;
}
.result
{
  max-width: auto;
  max-height:auto;
  text-align: center;
  padding-bottom: 20px;
  background: none;
  border-radius: 50px 0px;
  margin: 50px;
  font-family: 'Freckle Face', cursive;
  color:black;

}

.searchBar{
	margin-left:500px;
	font-family: 'Nothing You Could Do', cursive;
}
.container-currency
{
  
  max-width: auto;
  max-height:auto;
  text-align: center;
  padding: 30px;
  background: white;
  opacity:0.6;
  border-radius: 50px 50px;
  margin: 15px;
  &:hover{
    opacity:0.9;
    transition:1s;
  }
  .container-each{
  display: inline-block;
  max-width: auto;
  max-height:auto;
  text-align: left;
  padding: 30px;
  background: white;
  border-radius: 50px 50px;
  margin: 1px;
  font-family:'Calibri';
  }
  h1{
  color:black !important;
  text-align:center;
}
}
.container-converter
{ 
  max-width: auto;
  max-height:auto;
  text-align: center;
  padding: 30px;
  background: white;
  opacity:0.6;
  border-radius: 50px 50px;
  margin: 15px;
  &:hover{
    opacity:0.9;
    transition:1s;
  }
  .value{
  font-size: 16pt;
  transition:1s;
  color: black;
}
#interchange{
  text-decoration:none;
  cursor:pointer;
  &:hover{
    opacity:0.5;
    transition:1s;
  }
}
.form-control{
  width:220px !important;
  display:inline;
  align:center;
}
}


footer{
		position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#662900; 
  border:none;
  color:#ffffff;
	font-family: 'Nothing You Could Do', cursive;
	font-size:15px;
	text-align:center;
}

nav {
  height: 40px;
  width: auto;
  background: #662900;
  font-size: 11pt;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: bold;
  position: relative;
  border-bottom: 2px solid #662900;
  ul {
    padding: 0;
    margin: 0 auto;
    height: 40px;
  }
  li {
    display: inline;
    float: left;
  }
  a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    
  }
  li {
    a {
      border:none;
    
    }
    &:last-child a {
      border-right: 0;
    }
  }
  a {
    &:hover, &:active {
      background-color:  #ffd1b3;
      color: #fff;
      transition:1s;
    }
   
  }
}


/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	.result
{
  max-width: auto;
  max-height:auto;
  text-align: center;
  padding: 0px;
  background: none;
  border-radius: 50px 0px;
  margin-top: 40px;

}
.searchBar{
	margin-left:0px;
}


}




@media only screen and (max-width: 1024px) {
	.searchBar{
	margin-left:200px;
}

}
@media only screen and (max-width: 768px) {
	.searchBar{
	margin-left:130px;
}	
.result
{
  max-width: auto;
  max-height:auto;
  text-align: center;
  padding: 0px;
  background: none;
  border-radius: 50px 0px;
  margin: 80px;

}	
}
@media only screen and (max-width: 640px) {
		.searchBar{
	margin-left:50px;
}	
.result
{
  max-width: auto;
  max-height:auto;
  text-align: center;
  padding: 0px;
  background: none;
  border-radius: 50px 0px;
  margin: 10px;

}	
}
@media only screen and (max-width: 360px) {
		.searchBar{
	margin-left:50px;
}	
.result
{
  max-width: auto;
  max-height:auto;
  text-align: center;
  padding: 0px;
  background: none;
  border-radius: 50px 0px;
  margin: 4px;

}
}
@media only screen and (max-width: 800px) {
		.searchBar{
	margin-left:50px;
}	
}
@media only screen and (width: 1280px) {
		.searchBar{
	margin-left:260px;
}	
}
@media only screen and (width: 900px) {
.result
{
  max-width: auto;
  max-height:auto;
  text-align: center;
  padding: 0px;
  background: none;
  border-radius: 50px 0px;
  margin: 130px;

}	
}